body {
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    background: linear-gradient(135deg, #000435 0%, #004e92 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: rgba(64, 64, 64, 0.9);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-signin {
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    position: absolute;
    left: 10px;
    top: 20px;
    font-size: 0.7em;
}

.login-signin a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    position: relative;
    transition: text-shadow 0.3s ease, color 0.3s ease;
    padding: 3px 5px;
    border-radius: 10px;
}

.login-signin a:hover {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
                 0 0 10px rgba(255, 255, 255, 0.7),
                 0 0 15px rgba(255, 255, 255, 0.6),
                 0 0 20px rgba(255, 255, 255, 0.5),
                 0 0 25px rgba(255, 255, 255, 0.4),
                 0 0 30px rgba(255, 255, 255, 0.3);
    color: #ffffff;
}

.divider {
    color: black;
    margin: 0 5px;
}

.title img {
    width: auto;
    height: 3em;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
    border-radius: 15px;
}

.title img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.content-wrapper {
    background-image: url('library_shelves.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #000435;
    padding-top: 60px;
    min-height: calc(100vh - 60px);
    border-radius: 20px;
    height: auto;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 20px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    border-radius: 20px;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
}

.slide img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 10px;
}

.slider-btn.prev {
    left: 10px;
}

.slider-btn.next {
    right: 10px;
}

.slider-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
    border-radius: 10px;
}

.indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.indicator.active,
.indicator:hover {
    background-color: white;
}

.most-read-section {
    margin: 40px auto;
    max-width: 1000px; /* افزایش عرض کلی بخش برای هماهنگی با اسلایدبارها */
    text-align: left;
}

.most-read-section h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding-left: 10px;
}

.most-read-slider-container {
    position: relative;
    width: 100%;
    max-width: 1000px; /* افزایش عرض اسلایدبار */
    margin: 0 auto;
    overflow: hidden;
    border-radius: 20px;
    padding: 0 5px;
}

.most-read-authors-container {
    position: relative;
    width: 100%;
    max-width: 1000px; /* افزایش عرض اسلایدبار */
    margin: 0 auto;
    overflow: hidden;
    border-radius: 20px;
    padding: 0 5px;
}

.most-read-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.most-read-authors-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.most-read-slide {
    flex: 0 0 25%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.book-card {
    width: 90%;
    max-width: 180px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    text-align: center;
    margin: 0 2px;
}

.book-card:hover {
    transform: scale(1.05);
}

.book-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.book-card h3 {
    font-size: 0.9em;
    margin: 5px 0;
    color: #ffffff;
}

.book-card p {
    font-size: 0.8em;
    color: #cccccc;
    margin: 3px 0;
}

.most-read-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 10px;
    left: 10px;
}

.most-read-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 10px;
    right: 10px;
}

.most-read-authors-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 10px;
    left: 10px;
}

.most-read-authors-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 10px;
    right: 10px;
}

.most-read-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.most-read-authors-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.most-read-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.most-read-indicator.active,
.most-read-indicator:hover {
    background-color: white;
}

.login-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;
}

.login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form label {
    margin: 10px 0 5px;
    color: white;
}

.login-form input {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.1);
    width: 100%;
    box-sizing: border-box;
}

.login-form input:focus {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}

.login-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background: #404040;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9em;
}

.login-form button:hover {
    background: #2f2f2f;
}

.blur-background {
    filter: blur(5px);
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.close-btn {
    position: absolute;
    top: 3px;
    left: 8px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
    font-family: Arial, sans-serif;
    border-radius: 10px;
}

.close-btn:hover {
    color: #ff0000;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(145deg, #222, #333);
    color: white;
    opacity: 0.9;
    z-index: 1002;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.notification.success {
    background: linear-gradient(145deg, #4caf50, #66bb6a);
    color: #fff;
}

.notification.error {
    background: linear-gradient(145deg, #f44336, #e57373);
    color: #fff;
}

.notification .icon {
    margin-right: 10px;
    font-size: 24px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .login-signin {
        position: absolute;
        left: 20px;
        width: auto;
        justify-content: center;
        margin-bottom: 10px;
        font-size: 0.7em;
    }

    .title {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .title img {
        height: 2.5em;
        display: block;
        margin: 0 auto;
    }

    .login-form {
        width: 90%;
        padding: 15px;
        margin: 15px;
    }

    .login-form input, .login-form button {
        padding: 12px;
    }

    .slider-container {
        max-width: 100%;
    }

    .slide img {
        width: 100%;
        height: 250px;
    }

    .most-read-section {
        margin: 30px auto;
        max-width: 100%; /* تنظیم عرض برای حالت responsive */
        text-align: left;
    }

    .most-read-section h2 {
        padding-left: 10px;
    }

    .most-read-slider-container, .most-read-authors-container {
        max-width: 100%; /* تنظیم عرض برای حالت responsive */
        padding: 0 5px;
    }

    .most-read-slide {
        flex: 0 0 50%;
        padding: 2px;
    }

    .book-card {
        width: 90%;
        max-width: 160px;
        margin: 0 2px;
    }

    .book-card img {
        height: 120px;
    }

    .book-card h3 {
        font-size: 0.8em;
    }

    .book-card p {
        font-size: 0.7em;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .login-signin {
        position: absolute;
        left: 10px;
        width: auto;
        justify-content: center;
        font-size: 0.6em;
        left: 5px;
        top: 10px;
    }

    .login-signin a {
        margin: 0 3px;
    }

    .title {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .title img {
        height: 2em;
        display: block;
        margin: 0 auto;
    }

    .login-form {
        width: calc(100% - 160px);
        padding: 15px;
        left: 50%;
    }

    .login-form input, .login-form button {
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    .slider-container {
        max-width: 100%;
    }

    .slide img {
        width: 100%;
        height: 200px;
    }

    .most-read-section {
        margin: 20px auto;
        max-width: 100%; /* تنظیم عرض برای حالت responsive */
        text-align: left;
    }

    .most-read-section h2 {
        padding-left: 10px;
    }

    .most-read-slider-container, .most-read-authors-container {
        max-width: 100%; /* تنظیم عرض برای حالت responsive */
        padding: 0 5px;
    }

    .most-read-slide {
        flex: 0 0 100%;
        padding: 2px;
    }

    .book-card {
        width: 90%;
        max-width: 140px;
        margin: 0 2px;
    }

    .book-card img {
        height: 100px;
    }

    .book-card h3 {
        font-size: 0.7em;
    }

    .book-card p {
        font-size: 0.6em;
    }
}